.headingContent {
  font-family: Nunito;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #212529;
}

.content {
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.content-box {
  background-color: #ecf5f880;
  border: 2px solid #e3e8f1;
  border-radius: 12px;
}
.deleteContent {
  width: 75;
  height: 36;
  border-radius: 8px;
  border-width: 1px;
  padding-top: 9.5px;
  padding-right: 16px;
  padding-bottom: 9.5px;
  padding-left: 16px;
  gap: 10px;

}

.CancelHeading{
  font-family: Nunito;
font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-align: center;
}
.Successfully{
  font-family: Nunito;
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;

}